.container{
    border: 3px solid black;
    height: 200px;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    justify-content: space-between;
    align-items: flex-start;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* flex-flow: row wrap; */
}
.box{
    background-color: aquamarine;
    border: 2px solid rgb(70, 47, 17);
    margin: 20px;
    width: 80px;
    height: 90px;
}
#box2{
    order: 1;
    flex-grow: 1;
}
#box3{
    order: 2;
    flex-shrink: 2;
}
#box1{
    align-content: center;
    align-self: center;
}
